<%- include('./partials/header') %>
<%- include('./partials/scripts') %>
</head>

<body class="min-vh-100 d-flex flex-column">
	<%- include('./partials/navbar') %>
	<div class="main-content d-flex flex-column flex-grow-1">
		<%- include('./partials/topbar') %>
		<!-- Header -->
		<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
			style="min-height: 450px; background-image: url(/images/sspbrno-school.jpg); background-size: cover; background-position: center;">
			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-6"></span>
			<div class="container-fluid">
				<div class="header-body">
					<div class="row">
						<div class="col-lg-7 col-md-10">
							<h1 class="display-2 text-white">
								Dobrý den <%= osloveni(req.session.user.name.first) %>!
							</h1>
							<p class="text-white">Vítejte zpět na přehledu.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--9 flex-grow-1 d-flex flex-column jusitfy-content-center">
			<!-- Table -->
			<div class="row flex-grow-1">
				<div class="col">
					<div class="card">
						<!-- Card header -->
						<div class="card-header border-0">
							<h2 class="mb-0">Přehled pozic zaměření</h2>
						</div>
						<div class="table-responsive">
							<table class="table w-100" id="specializations">
								<thead class="thead-light">
									<tr>
										<th>Název</th>
										<th>Studentů celkem</th>
										<th>Pozic celkem</th>
										<th>Obsazeno pozic</th>
										<th>Obsadit pozic</th>
										<th>Vytvořit uživatelů</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<%- include('partials/footer') %>
		</div>
	</div>
	<script>
		// dashboardCards()
	</script>
	<%- include('./partials/scripts-file-end') %>
	<%- include('./partials/datatables') %>
	<script>
		dashboardCards()
	</script>
	<%- include('partials/file-end') %>