<%- include('./partials/header') %>
<%- include('./partials/scripts') %>
</head>

<body class="min-vh-100 d-flex flex-column">
	<%- include('./partials/navbar') %>
	<div class="main-content d-flex flex-column flex-grow-1">
		<%- include('./partials/topbar') %>
		<!-- Header -->
		<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
			style="min-height: 400px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-6"></span>
			<!-- Header container -->
			<div class="container-fluid d-flex align-items-center">
				<div class="row">
					<div class="col-lg-9 col-md-10">
						<h1 class="display-2 text-white">Váš profil</h1>
						<p class="text-white mt-0 mb-5">Můžete si zde změnit například emailovou adresu</p>
					</div>
				</div>
			</div>
		</div>
		<!-- Page content -->
		<div class="container-fluid mt--7 flex-grow-1">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-12">
									<h3 class="mb-0">Editace profilu</h3>
								</div>
							</div>
						</div>
						<div class="card-body bg-secondary">
							<h6 class="heading-small text-muted mb-4">Základní údaje</h6>
							<div class="pl-lg-4">
								<form action="" id="edit-profile-form">
									<div class="row">
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label class="form-control-label" for="firstname">Křestní
													jméno</label>
												<input type="text" id="firstname" class="form-control" required
													placeholder="Vyplňte prosím toto povinné pole"
													value="<%= req.session.user.name.first %>">
											</div>
										</div>
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label class="form-control-label" for="middlename">Prostřední
													jméno</label>
												<input type="text" id="middlename" class="form-control"
													placeholder="Žádné" value="<%= req.session.user.name.middle %>">
											</div>
										</div>
										<div class="col-md-4 col-sm-12">
											<div class="form-group">
												<label class="form-control-label" for="lastname">Příjmení</label>
												<input type="text" id="lastname" class="form-control" required
													placeholder="Vyplňte prosím toto povinné pole"
													value="<%= req.session.user.name.last %>">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label class="form-control-label" for="email">Email</label>
												<input type="email" id="email" class="form-control" required
													placeholder="Vyplňte prosím toto prázdné povinné pole"
													value="<%= req.session.user.email %>">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col" id="edit-profile-status" style="display: none;"></div>
										<div class="col-4 text-left">
											<button type="button" class="btn btn-primary"
												id="edit-profile">Editovat</button>
										</div>
									</div>
								</form>
							</div>
							<hr class="my-4">
							<h6 class="heading-small text-muted mb-4">Změna hesla</h6>
							<div class="pl-lg-4">
								<form action="" id="change-password-form">
									<div class="row">
										<div class="col">
											<div class="form-group">
												<label class="form-control-label" for="new-password">Nové heslo</label>
												<input type="password" id="new-password" class="form-control" required
													placeholder="Vyplňte prosím toto povinné pole">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col" id="change-password-status" style="display: none;"></div>
										<div class="col-4 text-left">
											<button type="button" class="btn btn-primary"
												id="change-password-button">Editovat</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include('partials/footer') %>
		</div>
	</div>
	<%- include('./partials/scripts-file-end') %>
	<script>
		function editProfile() {
			API.user
				.edit({
					firstname: $('#firstname').val(),
					middlename: $('#middlename').val(),
					lastname: $('#lastname').val(),
					email: $('#email').val()
				})
				.then(function (data) {
					console.log(data)
					if (data.status === 'ok') {
						$('div#edit-profile-status')
							.empty()
							.append(
								$('<div>', { class: 'alert alert-success alert-dismissible' }).append(
									$('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
									$('<strong>').text('Gratuluji!'),
									' Úspěšně jste si upravil(a) svůj profil'
								)
							)
							.show()
						// Refresh the page
						setTimeout(function () {
							window.location.href = window.location.href;
						}, 3500)
					} else {
						$('div#edit-profile-status')
							.empty()
							.append(
								$('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
									$('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
									$('<strong>').text('Ach ne! '),
									data.error
								)
							)
							.show()
					}
				})
		}
		$('#edit-profile').click(editProfile)
		$('#edit-profile-form').submit(function (event) {
			event.preventDefault()
			console.log('submitting edit profile form')
			editProfile()
		})

		function changePassword() {
			let password = $('#new-password').val()
            let alert = {
                dom: $('#change-password-status'),
                strongText: 'Vyhodnocuji',
                text: 'Vyčkejte prosím',
                status: 'info',
                icon: 'fas fa-circle-notch fa-spin',
                show: function() {
                    this.dom
                    .empty()
                    .append(
                        $('<div>', { class: `alert alert-${this.status} alert-dismissible` }).append(
                            $('<i>', { class: this.icon, 'aria-hidden': 'true' }),
                            $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                            $('<strong>').text(' ' + this.strongText),
                            ' ' + this.text
                        )
                    )
                    .show()
                }
            }
            alert.show()

            if (password === '') {
                alert.status = 'danger'
                alert.icon = 'fas fa-exclamation-triangle'
                alert.strongText = 'Ach ne!'
                alert.text = 'Heslo nemůže být prázdné'
                return alert.show()
            }

            API.user.setNewPassword('<%= req.session.user._id %>', password).then(function (responseFromServer) {
                if (responseFromServer.status === 'ok') {
                    alert.status = 'success'
                    alert.icon = 'fas fa-check'
                    alert.strongText = 'Výborně!'
                    alert.text = 'Vaše heslo bylo změněno'
                    setTimeout(function() {
                        window.location.href = window.location.href
                    }, 5555)
                } else if (responseFromServer.error === 'wrong-email') {
                    alert.status = 'danger'
                    alert.icon = 'fas fa-exclamation-triangle'
                    alert.strongText = 'Ach ne!'
                    alert.text = 'Uživatel neexistuje'
                } else {
                    alert.status = 'danger'
                    alert.icon = 'fas fa-exclamation-triangle'
                    alert.strongText = 'Ach ne!'
                    alert.text = 'Vnitřní chyba serveru'
                }
                alert.show()
                alert.dom.delay(5000).fadeOut('slow')
            })
		}

		$('#change-password-button').click(changePassword)
		$('#change-password-form').submit(function (event) {
			event.preventDefault()
			console.log('submitting new password form')
			changePassword()
		})
	</script>
	<%- include('partials/file-end') %>
