<%- include('./partials/header') %>
<%- include('./partials/file-start') %>
<%- include('./partials/menu') %>
<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading"><%= title %></h1>
    <span class="underline"></span>
    <div class="mt-5">
        <form id="forgot-password">
            <div class="form-group">
                <label for="email">Emailová adresa</label>
                <input type="email" class="form-control" id="email" placeholder="Zadejte Váš email" required>
            </div>
            <div class="form-group" id="forgot-password-status" style="display: none;"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Odeslat</button>
            </div>
        </form>
    </div>
</main>

<%- include('./partials/scripts-file-end') %>
<script>
    $(document).ready(function () {
        $('form#forgot-password').submit(function (event) {
            event.preventDefault()
            let email = $('#email').val()
            let alert = {
                dom: $('div#forgot-password-status'),
                strongText: 'Zpracovávám!',
                text: 'Vyčkejte prosím',
                status: 'info',
                icon: 'fas fa-circle-notch fa-spin',
                hide: function(p={}) {
                    this.dom.hide(p)
                },
                show: function() {
                    this.dom
                    .empty()
                    .append(
                        $('<div>', { class: `alert alert-${this.status} alert-dismissible` }).append(
                            $('<i>', { class: this.icon, 'aria-hidden': 'true' }),
                            $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                            $('<strong>').text(' ' + this.strongText),
                            ' ' + this.text
                        )
                    )
                    .show()
                }
            }
            alert.show()

            if (email === '') {
                alert.status = 'danger'
                alert.strongText = 'Ach ne!'
                alert.icon = 'fas fa-exclamation-triangle'
                alert.text = 'Email nemůže být prázdný'
                return alert.show()
            }

            API.user.forgotPassword(email).then(function (responseFromServer) {
                if (responseFromServer.status === 'ok') {
                    alert.status = 'success'
                    alert.icon = 'fas fa-check'
                    alert.strongText = 'Výborně!'
                    alert.text = 'Zkontrolujte si svoji emailovou schránku'
                } else if (responseFromServer.error === 'wrong-email') {
                    alert.status = 'danger'
                    alert.icon = 'fas fa-exclamation-triangle'
                    alert.strongText = 'Ach ne!'
                    alert.text = 'Uživatel s tímto emailem neexistuje'
                } else {
                    alert.status = 'danger'
                    alert.icon = 'fas fa-exclamation-triangle'
                    alert.strongText = 'Ach ne!'
                    alert.text = 'Vnitřní chyba serveru'
                }
                alert.show()
            })
        })
    })
</script>
<%- include('./partials/footer') %>
<%- include('./partials/file-end') %>