<%- include('./partials/header') %>
<%- include('./partials/file-start') %>
<%- include('./partials/menu') %>
<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading"><%= title %></h1>
    <span class="underline"></span>
    <div class="mt-5">
        <form id="login">
            <div class="form-group">
                <label for="username">Uživatelské jméno</label>
                <input type="text" class="form-control" id="username"
                    placeholder="Zadejte uživatelské jméno, nebo email">
            </div>
            <div class="form-group">
                <label for="password">Heslo</label>
                <input type="password" class="form-control" id="password" placeholder="Zadejte heslo">
            </div>
            <div class="form-group" id="login-status" style="display: none;"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Přihlásit</button>
            </div>
            <div class="form-group">
                <a href="/register">Ještě nemám účet a chci si ho vytvořit</a>
            </div>
        </form>
    </div>
</main>

<%- include('./partials/scripts-file-end') %>
<script>
    $(document).ready(function () {
        $('form#login').submit(function (event) {
            event.preventDefault()
            $('div#login-status')
                .empty()
                .append(
                    $('<div>', { class: 'alert alert-info alert-dismissible' }).append(
                        $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                        // $('<strong>').text('Gratuluji!'),
                        'Přihlašuji'
                    )
                )
                .show()
            let username = $('#username').val()
            let password = $('#password').val()
            let strongAlertText = 'Ach ne'
            let alertText
            let alertStatus

            if (username === '') {
                alertText = 'Uživatelské jméno nemůže být prázdné'
            } else if (password === '') {
                alertText = 'Heslo nemůže být prázdné'
            }

            if (alertText !== undefined) {
                $('div#login-status')
                    .empty()
                    .append(
                        $('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
                            $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                            $('<strong>').text(strongAlertText),
                            alertText
                        )
                    )
                    .show()
            }

            API.user.login(username, password).done(function (responseFromServer) {
                if (responseFromServer === 'ok') {
                    $('div#login-status')
                        .empty()
                        .append(
                            $('<div>', { class: 'alert alert-success alert-dismissible' }).append(
                                $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                $('<strong>').text('Gratuluji!'),
                                'Úspěšně jste se přihlásil(a)'
                            )
                        )
                        .show()

                    // Redirect to main page
                    setTimeout(function () {
                        window.location.href = '/';
                    }, 3500)
                } else if (responseFromServer === 'wrong-username') {
                    $('div#login-status')
                        .empty()
                        .append(
                            $('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
                                $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                $('<strong>').text('Ach ne!'),
                                'Uživatel s tímto uživatelským jménem, nebo emailem neexistuje'
                            )
                        )
                        .show()
                } else if (responseFromServer === 'wrong-password') {
                    $('div#login-status')
                        .empty()
                        .append(
                            $('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
                                $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                $('<strong>').text('Ach ne!'),
                                'Zadané heslo se neshoduje'
                            )
                        )
                        .show()
                }
            })
        })
    })
</script>
<%- include('./partials/footer') %>
<%- include('./partials/file-end') %>