<%- include('./partials/header') %>
<link href="/css/select2.min.css" rel="stylesheet" />
<link href="/css/profile.css" rel="stylesheet" />
<%- include('./partials/file-start') %>
<%- include('./partials/menu') %>
<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading"><%= title %></h1>
    <span class="underline"></span>

    <div class="container emp-profile">
        <div class="row mt-4 mr-2 mb-4">
            <div class="col-md-4 d-flex flex-column justify-content-center">
                <div class="profile-img mb-3">
                    <img src="<%= req.session.user.photo %>" alt="Profile photo" />
                </div>
                <form action="#" id="update-profile-photo" method="post" class="d-flex flex-column justify-content-center">
                    <div class="file btn btn-dark m-1" role="button" style="cursor: pointer">
                        <i class="fas fa-upload"></i>
                        Nahrát novou fotografii
                        <input type="file" id="new-profile-photo" name="image" accept="image/*" role="button" style="cursor: pointer" />
                    </div>
                    <button type="submit" class="btn btn-dark m-1">
                        <i class="fas fa-edit"></i>
                        <span>Změnit profilovou fotografii</span>
                    </button>
                </form>
                <button type="button" onclick="updateSession()" class="btn btn-dark m-1">
                    <i class="fas fa-sync-alt"></i>
                    <span>Aktulizace sezení</span>
                </button>
                <div class="form-group mx-auto mt-4" id="new-profile-photo-status" style="display: none;"></div>
            </div>
            <div class="col-md-8">
                <div class="profile-head mb-3">
                    <h5>
                        <%= req.session.user.name.first %>
                        <%= req.session.user.name.middle %>
                        <%= req.session.user.name.last %>
                    </h5>
                    <h6>
                        <% if (req.session.user.type === 'student') { %>
                        Student(ka)
                        <% } else if (req.session.user.type === 'guarantor') { %>
                            Garant(ka)
                        <% } else if (req.session.user.type === 'consultant') { %>
                            Konzultant(ka)
                        <% } else if (req.session.user.type === 'admin') { %>
                        Administrátor(ka)
                        <% }%>
                    </h6>
                </div>
                <hr>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <label class="text-dark">Uživatelské ID</label>
                    </div>
                    <div class="col-md-6">
                        <p class="text-secondary"><%= req.session.user._id %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-dark">Email</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Zadejte svůj email"
                                value="<%= req.session.user.email %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-dark">Křestní jméno</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstname"
                                placeholder="Zadejte svoje křestní jméno" value="<%= req.session.user.name.first %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-dark">Prostřední jméno</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="middlename"
                                placeholder="Zadejte svoje prostřední jméno"
                                value="<%= req.session.user.name.middle %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-dark">Příjmení</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="lastname" placeholder="Zadejte svoje příjmení"
                                value="<%= req.session.user.name.last %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-dark">Specializace</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="text-dark">
                                <% if (req.session.user.specialization === null || req.session.user.specialization === undefined) { %>
                                    Žádná
                                <% } else { %>
                                    <%= req.session.user.specialization.name %>
                                <% } %>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="edit-profile" class="btn btn-dark m-auto">Upravit profil</button>
                        <div class="form-group mx-auto mt-4" id="edit-profile-status" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('./partials/scripts-file-end') %>
<script src="/js/select2.min.js"></script>
<script>
    $(document).ready(() => {
        $('form#update-profile-photo').submit(function (event) {
            event.preventDefault()
            API.user
                .updateProfilePhoto(document.getElementById("new-profile-photo").files[0])
                .then(function (data) {
                    console.log(data)
                    let $newProfilePhotoStatus = $('#new-profile-photo-status')
                    if (data.status === 'ok') {
                        $newProfilePhotoStatus
                            .empty()
                            .append(
                                $('<div>', { class: 'alert alert-success alert-dismissible' }).append(
                                    $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                    $('<strong>').text('Gratuluji!'),
                                    ' Úspěšně jste se upravil(a) svoji profilovou fotografii'
                                )
                            )
                            .show()
                            .delay(3000).fadeOut('slow')
                        // Refresh the page
                        setTimeout(function () {
                            updateSession()
                        }, 3500)
                    } else {
                        $newProfilePhotoStatus
                            .empty()
                            .append(
                                $('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
                                    $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                    $('<strong>').text('Ach ne! '),
                                    data.error
                                )
                            )
                            .show()
                    }
                })
        })
    })
    $('#edit-profile').click(function () {
        API.user
            .edit({
                firstname: $('#firstname').val(),
                middlename: $('#middlename').val(),
                lastname: $('#lastname').val(),
                email: $('#email').val()
            })
            .then(function (data) {
                console.log(data)
                if (data.status === 'ok') {
                    $('div#edit-profile-status')
                        .empty()
                        .append(
                            $('<div>', { class: 'alert alert-success alert-dismissible' }).append(
                                $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                $('<strong>').text('Gratuluji!'),
                                ' Úspěšně jste se upravil(a) svůj profil'
                            )
                        )
                        .show()
                    // Refresh the page
                    setTimeout(function () {
                        window.location.href = window.location.href;
                    }, 3500)
                } else if (data.error === 'email-exists') {
                    $('div#edit-profile-status')
                        .empty()
                        .append(
                            $('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
                                $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                $('<strong>').text('Ouha! '),
                                'Tento email už používá někdo před tebou.'
                            )
                        )
                        .show()
                } else {
                    $('div#edit-profile-status')
                        .empty()
                        .append(
                            $('<div>', { class: 'alert alert-danger alert-dismissible' }).append(
                                $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                                $('<strong>').text('Ach ne! '),
                                data.error
                            )
                        )
                        .show()
                }
            })
    })
</script>
<%- include('./partials/footer') %>
<%- include('./partials/file-end') %>
