<%- include('./partials/header') %>
<%- include('./partials/file-start') %>
<%- include('./partials/menu') %>
<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading"><%= title %></h1>
    <span class="underline"></span>
    <div class="mt-5">
        <form id="set-new-password">
            <div class="form-group">
                <label for="password">Nové heslo</label>
                <input type="password" class="form-control" id="password" placeholder="Zadejte nové heslo" required>
            </div>
            <div class="form-group">
                <label for="passwordAgain">Nové heslo znovu</label>
                <input type="password" class="form-control" id="passwordAgain" placeholder="Zadejte heslo znovu" required>
            </div>
            <div class="form-group" id="set-new-password-status" style="display: none;"></div>
            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Změnit heslo</button>
            </div>
            <div class="form-group">
                <a href="/register">Ještě nemám účet a chci si ho vytvořit</a>
            </div>
        </form>
    </div>
</main>

<%- include('./partials/scripts-file-end') %>
<script>
    $(document).ready(function () {
        $('form#set-new-password').submit(function (event) {
            event.preventDefault()
            let password = $('#password').val()
            let passwordAgain = $('#passwordAgain').val()
            let alert = {
                dom: $('div#set-new-password-status'),
                strongText: 'Vyhodnocuji požadavek',
                text: 'Vyčkejte prosím',
                status: 'info',
                icon: 'fas fa-circle-notch fa-spin',
                show: function() {
                    this.dom
                    .empty()
                    .append(
                        $('<div>', { class: `alert alert-${this.status} alert-dismissible` }).append(
                            $('<i>', { class: this.icon, 'aria-hidden': 'true' }),
                            $('<a>', { href: '#', class: 'close', 'data-dismiss': 'alert', 'aria-label': 'close' }).html('&times;'),
                            $('<strong>').text(' ' + this.strongText),
                            ' ' + this.text
                        )
                    )
                    .show()
                }
            }
            alert.show()

            if (password === '' || passwordAgain === '') {
                alert.status = 'danger'
                alert.icon = 'fas fa-exclamation-triangle'
                alert.strongText = 'Ach ne!'
                alert.text = 'Heslo nemůže být prázdné'
                return alert.show()
            } else if (password != passwordAgain) {
                alert.status = 'danger'
                alert.icon = 'fas fa-exclamation-triangle'
                alert.strongText = 'Ach ne!'
                alert.text = 'Heslo musí být stejná'
                return alert.show()
            }

            API.user.setNewPassword('<%= user._id %>', password).then(function (responseFromServer) {
                if (responseFromServer.status === 'ok') {
                    alert.status = 'success'
                    alert.icon = 'fas fa-check'
                    alert.strongText = 'Výborně!'
                    alert.text = 'Vaše heslo bylo změněno'
                    setTimeout(function() {
                        window.location.href = '/login'
                    }, 5555)
                } else if (responseFromServer.error === 'wrong-email') {
                    alert.status = 'danger'
                    alert.icon = 'fas fa-exclamation-triangle'
                    alert.strongText = 'Ach ne!'
                    alert.text = 'Uživatel neexistuje'
                } else {
                    alert.status = 'danger'
                    alert.icon = 'fas fa-exclamation-triangle'
                    alert.strongText = 'Ach ne!'
                    alert.text = 'Vnitřní chyba serveru'
                }
                alert.show()
                alert.dom.delay(5000).fadeOut('slow')
            })
        })
    })
</script>
<%- include('./partials/footer') %>
<%- include('./partials/file-end') %>