<%- include('./partials/header') %>
<%- include('./partials/file-start') %>
<%- include('./partials/menu') %>
<main role="main" class="inner cover mt-5">
    <h1 class="cover-heading"><%= title %></h1>
    <span class="underline"></span>
    <div class="mt-5 d-flex flex-dirextion-column justify-content-center align-items-stretch " id="teamworks">

    </div>
</main>

<%- include('./partials/scripts-file-end') %>
<script>
    $(document).ready(function () {
        API.teamwork
            .list()
            .done(function (teamworks) {
                for (let i = 0; i < teamworks.length; i++) {
                    let studentsDOMs = $('<ul>', { class: 'list-group list-group-flush' })
                    for (let ii = 0; ii < teamworks[i].students.length; ii++) {
                        let user = teamworks[i].students[ii].user
                        studentsDOMs.append(
                            $('<li>', { class: 'list-group-item' }).append(
                                $('<strong>', { class: 'text-dark' }).text(`${teamworks[i].students[ii].position.name}: `),
                                $('<span>', { class: 'text-dark' }).text(teamworks[i].students[ii].task),
                                (user === undefined ? '' : $('<span>', { class: 'text-secondary' }).text(
                                    ` - ${user.name.first}${user.name.middle === undefined ? ' ' : ` ${user.name.middle} `}${user.name.last}`
                                ))
                            )
                        )
                    }

                    let guarantorsDOMs = $('<ul>', { class: 'list-group list-group-flush' })
                    for (let ii = 0; ii < teamworks[i].guarantors.length; ii++) {
                        let name = teamworks[i].guarantors[ii].user.name
                        guarantorsDOMs.append(
                            $('<li>', { class: 'list-group-item' }).append(
                                $('<strong>', { class: 'text-dark' }).text(
                                    `${name.first} ${name.middle === undefined ? ' ' : ` ${name.middle} `} ${name.last}: `
                                ),
                                $('<span>', { class: 'text-secondary' }).text(teamworks[i].guarantors[ii].task)
                            )
                        )
                    }

                    $('div#teamworks').append(
                        $('<div>', { class: 'card flex-grow-1' }).append(
                            $('<div>', { class: 'card-body' }).append(
                                $('<h3>', { class: 'card-title text-dark' }).text(teamworks[i].name),
                                // $('<h4>', { class: 'card-subtitle mb-2 text-muted' }).text(teamworks[i].description),
                                $('<p>', { class: 'card-text text-muted' }).text(teamworks[i].description),
                                // $('<div>', {})
                            ),
                            $('<h5>', { class: 'card-title text-dark' }).text('Pozice'),
                            studentsDOMs,
                            $('<h5>', { class: 'card-title text-dark mt-3' }).text('Garanti'),
                            guarantorsDOMs,
                            $('<div>', { class: 'card-body' }).append(
                                $('<a>', { class: 'card-link text-secondary', href: '#' }).text('Vybrat!')
                            )
                        )
                    )
                }
            })
    })
</script>
<%- include('./partials/footer') %>
<%- include('./partials/file-end') %>