<%- include('../partials/header') %>
<%- include('../partials/file-start') %>
<%- include('../partials/menu') %>
<main role="main" class="inner cover mt-5">
    <div class="m-auto">
		<h1><%= teamwork.fullname %></h1>
        <div class="card">
            <%- include('./menu', { active: 'detail'}) %>
            <div class="card-body">
                <h3 class="card-text text-dark">Popis</h3>
                <p class="card-text text-muted">
                    <%= teamwork.description %>
                </p>
                <h3 class="card-text text-dark">Výsledek</h3>
                <p class="card-text text-muted">
                    <%= teamwork.result %>
                </p>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/scripts-file-end') %>
<%- include('../partials/footer') %>
<%- include('../partials/file-end') %>