<%- include('../partials/header') %>
<%- include('../partials/scripts') %>
</head>

<body class="min-vh-100 d-flex flex-column">
	<%- include('../partials/navbar') %>
	<div class="main-content d-flex flex-column flex-grow-1">
		<%- include('../partials/topbar') %>
		<%- include('./header', { active: 'list' }) %>
		<div class="container-fluid mt--7 flex-grow-1">
			<!-- Light table -->
			<div class="row">
				<div class="col">
					<div class="card">
						<!-- Card header -->
						<div class="card-header border-0">
							<h3 class="mb-0">Seznam</h3>
						</div>
						<div class="table-responsive">
							<table class="table w-100" id="teamworks">
								<thead class="thead-light">
									<tr>
										<th scope="col" class="sort">ID</th>
										<th scope="col" class="sort" data-sort="name">Název</th>
										<th scope="col">Studenti</th>
										<th scope="col">Garanti</th>
										<th scope="col">Konzultanti</th>
										<th scope="col">Akce</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>
			<%- include('../partials/footer') %>
		</div>
	</div>
	<%- include('../partials/scripts-file-end') %>
	<%- include('../partials/datatables') %>
	<script>
		function deleteTeamWorkById(id) {
			swal({
				title: 'Opravdu chcete smazat tuto týmovou práci?',
				text: 'Radši si to dvakrát rozmyslete.',
				icon: 'warning',
				timer: 5000,
				dangerMode: true,
				buttons: {
					cancel: "Byl to omyl",
					confirm: 'Smazat!',
				},
			}).then((confirm) => {
				if (confirm) {
					API.teamwork
						.delete(id)
						.then(function (response) {
							if (response.status === 'ok') {
							 	return swal({
									title: 'Týmová práce je smazána!',
									text: 'Už ji nikdy neuvidíme.',
									icon: 'success',
									timer: 5000
								}).then((value) => {
									location.reload()
								})
							}
							switch (response.error) {
								case 'not-sent-id':
									swal({
										title: 'Týmová práce se nesmazala!',
										text: 'Nastala chyba, protože jste neposlal(a) na server ID týmové práce, kterou chcete smazat.',
										icon: 'error'
									})
									break

								default:
									console.error(response)
									swal({
										title: 'Něco se pokazilo!',
										text: response.error,
										icon: 'error'
									})
									break
							}
						}
						)
				}
			})
		}

		function copyTeamWorkById(id) {
			swal({
				title: 'Opravdu chcete duplikovat tuto týmovou práci?',
				text: 'Radši si to dvakrát rozmyslete.',
				icon: 'warning',
				timer: 5000,
				dangerMode: true,
				buttons: {
					cancel: "Byl to omyl",
					confirm: 'Duplikovat!',
				},
			}).then((confirm) => {
				if (confirm) {
					API.teamwork
						.copy(id)
						.then(function (response) {
							if (response.status === 'ok') {
							 	return swal({
									title: 'Týmová práce byla zduplikována!',
									text: 'Nyní ji uvidíme dvakrát.',
									icon: 'success',
									timer: 5000
								}).then((value) => {
									location.reload()
								})
							}
							switch (response.error) {
								case 'not-sent-id':
									swal({
										title: 'Týmová práce se nezduplikovala!',
										text: 'Nastala chyba, protože jste neposlal(a) na server ID týmové práce, kterou chcete duplikovat.',
										icon: 'error'
									})
									break

								default:
									console.error(response)
									swal({
										title: 'Něco se pokazilo!',
										text: response.error,
										icon: 'error'
									})
									break
							}
						}
						)
				}
			})
		}

		$(document).ready(function () {
			API.teamwork
				.list(
					{
						year: '<%= req.session.year._id %>'
					}
				)
				.then((responseFromServer) => {
					$('table#teamworks').DataTable({
						language: {
							url: '/js/dataTables/myCzech.json'
						},
						responsive: true,
						data: responseFromServer,
						columns: [
							{
								data: "_id",
								visible: false,
							}, {
								data: 'name',
							}, {
								data: 'students',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									let studentsDOMSs = $('<div>', { class: 'avatar-group' })
									for (let i = 0; i < oData.students.length; i++) {
										const student = oData.students[i]
										if (student.user === undefined || student.user === null) {
											student.user = {
												name: {
													first: 'Neznámý',
													last: 'uživatel'
												},
												photo: '/images/users/_unknown.png',
												link: '#'
											}
										} else {
											student.user.link = '/admin/users/detail/' + student.user._id + '/'
										}
										$('<a>', {
											href: student.user.link,
											class: 'avatar avatar-sm rounded-circle',
											'data-toggle': 'tooltip',
											'data-original-title': `${student.user.name.first} ${student.user.name.middle !== undefined ? `${student.user.name.middle} ` : ''}${student.user.name.last}`,
										}).tooltip().append(
											$('<img>', {
												alt: 'Studentův avatar',
												src: student.user.photo
											})
										).appendTo(studentsDOMSs)
									}
									$(nTd).html(studentsDOMSs)
								}
							}, {
								data: 'guarantors',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									let guarantorsDOMSs = $('<div>', { class: 'avatar-group' })
									for (let i = 0; i < oData.guarantors.length; i++) {
										const guarantor = oData.guarantors[i]
										if (guarantor.user === undefined || guarantor.user === null) {
											guarantor.user = {
												name: {
													first: 'Ještě',
													last: 'neznámý'
												},
												photo: '/images/users/_unknown.png',
												link: '#'
											}
										} else {
											guarantor.user.link = `/admin/users/detail/${guarantor.user._id}/`
										}
										$('<a>', {
											href: guarantor.user.link,
											class: 'avatar avatar-sm rounded-circle',
											'data-toggle': 'tooltip',
											'data-original-title': `${guarantor.user.name.first} ${guarantor.user.name.middle !== undefined ? `${guarantor.user.name.middle} ` : ''}${guarantor.user.name.last}`,
										}).tooltip().append(
											$('<img>', {
												alt: 'Garantův avatar',
												src: guarantor.user.photo
											})
										).appendTo(guarantorsDOMSs)
									}
									$(nTd).html(guarantorsDOMSs)
								}
							}, {
								data: 'consultants',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									let consultantsDOMSs = $('<div>', { class: 'avatar-group' })
									for (let i = 0; i < oData.consultants.length; i++) {
										const consultant = oData.consultants[i]
										if (consultant.user === undefined || consultant.user === null) {
											consultant.user = {
												name: {
													first: 'Ještě',
													last: 'neznámý'
												},
												photo: '/images/users/_unknown.png',
												link: '#'
											}
										} else {
											consultant.user.link = `/admin/users/detail/${consultant.user._id}/`
										}
										$('<a>', {
											href: consultant.user.link,
											class: 'avatar avatar-sm rounded-circle',
											'data-toggle': 'tooltip',
											'data-original-title': `${consultant.user.name.first} ${consultant.user.name.middle !== undefined ? `${consultant.user.name.middle} ` : ''}${consultant.user.name.last}`,
										}).tooltip().append(
											$('<img>', {
												alt: 'Garantův avatar',
												src: consultant.user.photo
											})
										).appendTo(consultantsDOMSs)
									}
									$(nTd).html(consultantsDOMSs)
								}
							}, {
								data: '_id',
								fnCreatedCell: function (nTd, sData, oData, iRow, iCol) {
									$(nTd).html(
										$("<div>", { class: "row m-auto justify-content-around" }).append(
											$('<button>', {
												onclick: `copyTeamWorkById('${oData._id}');`,
												style: "background: none; border: none; padding: 0; "
											}).append(
												$('<i>', { class: "fas fa-copy text-gray" }),
											),
											$("<a>", { href: `/admin/teamworks/edit/${oData._id}`, style: "background: none; border: none; padding: 0; " }).append(
												$("<i>", { class: "fas fa-pen text-primary" }),
											),
											$('<button>', {
												onclick: `deleteTeamWorkById('${oData._id}');`,
												style: "background: none; border: none; padding: 0; "
											}).append(
												$('<i>', { class: "fas fa-trash text-danger" }),
											),
										),
									);
								}
							}
						],
					})
				})
		})
	</script>
	<%- include('../partials/file-end') %>
